.Author-zone {
  background-color: var(--main-color);
  color: white; 
  text-align: center;
  padding: 5px 0;
}

.Author-link {
  text-decoration: underline;
}

.Author-link:hover {
  text-decoration: none;
  color: #f5a623;
  font-weight: bold;
}