.benefit-card {
  position: relative;
  height: 27vw;
  width: 20vw;
  display: flex;
  flex-direction: column;
  color: var(--black-color);
  text-align: center;
}

.benefit-title {
  font-size: 1rem;
  height: 5rem;
  color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefit-img-wrapper {
  width: 8vw;
  height: 8vw;
  border: 4px solid var(--main-color);
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
  flex-shrink: 0;
}

.benefit-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
.benefit-card:hover {
  background-color: var(--black-color);
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
  border-radius: 2rem;
}*/
  
.card-decor-line {
  width: 25%;
  height: 3px;
  align-self: center;
  background-color: var(--black-color);
  margin: .5rem 0;
}

.benefit-description {
  margin: 0;
  color: var(--secondary-color);
  text-align: center;
}

@media (max-width: 1100px) {
  .benefit-card {
    width: 30vw;
    height: auto;
    padding: 1rem;
  }

  .benefit-img-wrapper {
    width: 15vw;
    height: 15vw;
  }
  
  .benefit-title {
    font-size: 1.1rem;
    height: auto;
    padding-bottom: 1.5rem;
  }
}

@media (max-width: 768px) {
  .benefit-card {
    width: 80vw;
    height: auto;
  }

  .benefit-img-wrapper {
    width: 25vw;
    height: 25vw;
    margin-bottom: 1rem;
  }

  .benefit-title {
    font-size: 1.3rem;
    padding-bottom: 1rem;
    height: auto;
  }

  .card-decor-line {
    width: 25%;
    margin: 1rem auto;
  }

  .benefit-description {
    font-size: 1rem;
  }
}