.leyend {
  background-color: var(--main-color);
  padding: 0.7rem 0rem 0rem 0rem;
  min-height: 20vh;
  width: 100%;
}

.leyend-container {
  background-color: var(--black-color);
  min-height: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3.5rem 0rem;
}

/* CAMBIO DE ESTILOS -> PETICION DEL CLIENTE
.leyend-divider {
  display: flex;
  align-items: center;
  width: 100%;
}

.leyend-divider::before {
  content: '';
  flex: 1;
  height: 3px;
  background-color: white;
  margin-right: 2rem;
}

.leyend-divider::after {
  content: '';
  flex: 1;
  height: 3px;
  background-color: white;
  margin-left: 2rem;
}
*/

@media (max-width: 768px) {
  .leyend {
    padding: 0.5rem 0rem 0rem 0rem;
    min-height: 10vh;
  }

  .leyend-container {
    padding: 1rem;
  }
  
  .leyend-container h2 {
    font-size: 1.3rem;
  }

  .leyend-container p {
    font-size: 0.9rem;
    margin: 0.5rem;
  }
}

