.navbar {
  background-color: var(--black-color);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  position: relative;
}

.navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.navbar img {
  height: 60px;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem ;
  }
  
  .hamburger {
    display: block;
  }

  .navbar ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    background-color: var(--black-color);
    width: 100%;
    padding: 1rem;
    z-index: 1000;
  }

  .navbar ul.open {
    display: flex;
  }

  .navbar li {
    margin: 0.5rem 0;
  }
}