.parallax-container {
  margin-top: 15rem;
}

.parallax-section {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: white;
}

.parallax-section.reverse {
  flex-direction: row-reverse;
}

.parallax-image,
.parallax-content {
  flex: 0 0 50%
}

.parallax-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.parallax-content {
  color: var(--text-gray-color);
  padding: 5.3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.section-number {
  font-size: 7rem;
  font-weight: bold;
  color: var(--text-gray-color);
}

.section-title {
  margin: 1rem 0 2rem 0;
  font-size: 1.8rem;
  /*font-size: 2rem; font-weight: bold;*/
}

.section-text {
  font-size: .96rem;
  white-space: pre-line;  
}

@media(min-width: 1800px) {
  .parallax-section {
    height: 100vh;
  }

  .parallax-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .section-number {
    font-size: 10rem;
  }

  .section-title {
    font-size: 3rem;
  }

  .section-text {
    margin-top: 3rem;
    font-size: 1.7rem;
    
  }
}

@media (max-width: 930px) {
  .parallax-content {
    padding: 3rem;
  }
}

@media (max-width: 768px) {
  .parallax-section {
    flex-direction: column;
  }

  .parallax-image,
  .parallax-content {
    flex: unset;
  }

  .parallax-image {
    height: 25vh;
  }

  .parallax-section.reverse {
    flex-direction: column;
  }

  .section-number {
    display: flex;
    justify-content: center;
    position: relative;
    top: -9.5rem;
    color: white;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  }
  
  .section-title {
    display: flex;
    justify-content: center;
    margin: 0 0 1rem 0;
    position: relative;
    top: -8rem;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .section-text {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 1rem;
    top: -7rem;
    margin: 4rem;
  }

  .parallax-content {
    padding: 0rem 1rem 1rem 1rem;
  }
}

@media (max-width: 550px) {
  .section-text {
    margin: 1rem;
  }
}

@media (max-width: 400px) {
  .section-text {
    margin: 0rem;
  }
}