.paragraph-generic {
  color: var(--text-color);
  max-width: 1300px;
  margin: 0 auto;
  padding: 5rem 0;
}

.paragraph-generic-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem 0;
}

.paragraph-generic-content {
  display: flex;
  align-items: center;
  white-space: pre-line;
}

.paragraph-generic-content p {
  margin: 0 2rem;
}

@media (max-width: 768px) {
  .paragraph-generic-content {
    flex-direction: column;
  }

  .paragraph-generic-content p {
    margin: 1rem 2rem;
  }
}