.paragraph-generic-background {
  color: white;
  background-color: var(--black-color);
}

.paragraph-generic {
  max-width: 1300px;
  margin: 0 auto;
  padding: 80px 0 30px 0;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.paragraph-generic-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 1rem 1rem 2rem 1rem;
}

.paragraph-generic-content {
  display: flex;
  align-items: center;
  white-space: pre-line;
  transition: height 1s ease;
}

.paragraph-generic-content p {
  line-height: 30px;
  margin: 0 2rem;
  transition: color 1s ease;
}

.n-show-up, .n-show-down {
  display: none;
}

@media (max-width: 768px) {
  .paragraph-generic {
    max-width: 1300px;
    margin: 0 auto;
    gap: 40px;
    padding: 5rem 0;
  }

  .paragraph-generic-title {
    margin-bottom: 0rem;
  }

  .paragraph-generic-content {
    flex-direction: column;
  }

  .paragraph-generic-content p {
    margin: 1rem 0;
  }

  .n-show-down {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
  }

  .paragraph-generic-content.open .n-show-down {
    display: none;
  }
  
  .paragraph-generic-content.open .n-show-up {
    display: flex;
  }

  .paragraph-generic-content p.open .n-show-up {
    display: flex;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
  }

  .paragraph-generic-content p.hide {
    color: var(--black-color);
  }
}

@media (min-width: 1800px) {
  .paragraph-generic {
    padding-top: 80px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .paragraph-generic-title {
    line-height: 50px;
  }

  .paragraph-generic-content p {
    font-size: .9rem;
  }

}