.cover-static {
  position: relative; 
  top: 0;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #575757;
  color: white;
}

.cover-static .cover-image img {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.cover-static .cover-image {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.cover-image video.cover-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.6);
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.cover-image video.cover-video.fade-out {
  opacity: 0;
}

.cover-image video.cover-video.fade-in {
  opacity: 1;
}



.cover-contet-paragraph {
  max-width: 1000px;
  padding: 0 2rem;
  text-align: center;
}

.cover-title {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  margin: 1rem 0;
}
.cover-title::after {
  content: '';
  display: block;
  width: 90%;
  height: 4px;
  background-color: var(--main-color);
  margin: 2rem auto;
}
.cover-static .cover-content {
  z-index: 1;
  text-align: center;
}

.cover-static i {
  font-size: 6rem;
}

.parallax-container {
  margin-top: 5rem;
}

.parallax-section {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: white;
}

.parallax-section.reverse {
  flex-direction: row-reverse;
}

.parallax-image,
.parallax-content {
  flex: 0 0 50%
}

.parallax-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.parallax-content {
  color: var(--text-gray-color);
  padding: 2rem 3rem 2rem 7%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.section-number {
  font-size: 7rem;
  font-weight: bold;
  color: var(--text-gray-color);
}

.section-title {
  margin: 1rem 0;
  font-size: 1.7rem;
  /*font-size: 2rem; font-weight: bold;*/
}

.section-text {
  font-size: .9rem;
  white-space: pre-line;  
}

@media (min-width: 1200px) {
  .parallax-content {
    padding: 3rem 3rem 2rem 7%;
  }
}

@media(min-width: 1800px) {
  .parallax-content {
    padding: 2rem 3rem 2rem 7%;
  }
  .parallax-section {
    height: 100vh;
  }

  .parallax-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .section-number {
    font-size: 10rem;
  }

  .section-title {
    font-size: 3rem;
  }

  .section-text {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    
  }

  .cover-content {
    max-width: 1300px;
    font-size: 1.3rem;
  }
}

@media (max-width: 930px) {
  .parallax-content {
    padding: 3rem;
  }
}

@media (max-width: 768px) {
  .parallax-section {
    flex-direction: column;
  }

  .cover-title {
    font-size: 2.5rem;
  }  

  .parallax-image,
  .parallax-content {
    flex: unset;
  }

  .parallax-image {
    height: 25vh;
  }

  .parallax-section.reverse {
    flex-direction: column;
  }

  .section-number {
    display: flex;
    justify-content: center;
    position: relative;
    top: -9.5rem;
    color: white;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  }
  
  .section-title {
    display: flex;
    justify-content: center;
    margin: 0 0 1rem 0;
    position: relative;
    top: -8rem;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .section-text {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 1rem;
    top: -7rem;
    margin: 4rem;
  }

  .parallax-content {
    padding: 0rem 1rem 1rem 1rem;
  }
}

@media (max-width: 550px) {
  .section-text {
    margin: 1rem;
  }
}

@media (max-width: 400px) {
  .section-text {
    margin: 0rem;
  }
}