.paragraph-generic {
  color: var(--text-color);
  max-width: 1300px;
  margin: 0 auto;
  padding: 5rem 0;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 80%;
}

.paragraph-generic-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem 0;
}

.paragraph-generic-content {
  display: flex;
  align-items: center;
  white-space: pre-line;
}

.paragraph-generic-content p {
  margin: 0 2rem;
}

@media (max-width: 768px) {
  .paragraph-generic {
    color: var(--text-color);
    max-width: 1300px;
    margin: 0 auto;
      gap: 40px;
    padding: 5rem 0;
  }

  .paragraph-generic-content {
    flex-direction: column;
  }

  .paragraph-generic-content p {
    margin: 1rem 0;
  }
}

@media (min-width: 1800px) {
  .paragraph-generic {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 80%;
  }

  .paragraph-generic-title {
    line-height: 50px;
  }

  .paragraph-generic-title {
    font-size: 4rem;
  }

  .paragraph-generic-content p {
    font-size: 1.3rem;
  }

}