.project {
  display: flex;
  align-items: stretch;
  gap: 0;
  margin: 2rem 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
  background-color: #fbfbfb;
}

.project-img-container { aspect-ratio: 16 / 9; }
.project-img-container { background-color: #f3f3f3; }
/* placeholder */
.image-placeholder {
  position: absolute;
  inset: 0;
  z-index: 1;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(90deg, rgba(255,255,255,0.02) 0%, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 100%);
  /* opcional: añadir un SVG blur o spinner */
}


.project-img-container {
  position: relative;
  flex: 0 0 60%;
  overflow: hidden;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.1);
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 3;
}
.carousel-btn.prev { left: .5rem; }
.carousel-btn.next { right: .5rem; }


.project-img-container .fade-image {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
}

.project-img-container .fade-in {
  animation: fadeIn 1s ease-in-out forwards;
  z-index: 2;
}

.project-img-container .fade-out {
  animation: fadeOut 1s ease-in-out forwards;
  z-index: 1;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}



.project-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  box-sizing: border-box;
  max-height: none;
  overflow: visible;
}

.project-header {            
  align-items: baseline;
  gap: 1rem;
}

.project-title {
  font-size: 2rem;
  white-space: pre-line;
}

.project-state {
  color: var(--secondary-color);
  font-size: 1rem;
}

.project-resume-bar {
  font-size: 1.2rem;
  color: var(--text-color);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.project-resume-bar i {
  margin: .7rem;
}

.project-description {
  margin-top: 2rem;
  color: var(--secondary-color);
  font-size: .97rem;
}

.show-up, .show-down {
  display: none;
}

@media (max-width: 1135px) {
  .project-resume-bar i {
    margin: .3rem;
  }
}

@media (max-width: 890px) {
  .project-resume-bar i {
    margin: .7rem;
  }

  .project {
    flex-direction: column;
    align-items: center;
  }

  .project-img-container {
    flex: 0 0 auto;    /* que no mantenga el 60% */
    width: 100%;       /* ocupe todo el ancho */
  }

  .project-img-container img {
    width: 100%;   /* ocupar el 100% del contenedor */
    height: auto;  /* mantener proporción */
    object-fit: cover; /* opcional si quieres recorte */
  }

  .project-img-container {
    aspect-ratio: 16 / 9;
  }

  .project-title {
    text-align: center;
  }

  .project-state {
    text-align: center;
    font-size: 1.1rem;
  }

  .project-description {
    font-size: 1.3rem;    
    transition: color 1s ease; 
  }

  .project-content {
    max-height: 250px;
    overflow: hidden;
    transition: max-height 1s ease;
  }

  .show-down {
    display: flex;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    margin-top: 5px;

  }

  .project-description {
    color: #fbfbfb;
    -moz-user-select: none;    /* Firefox (antiguo) */
    -ms-user-select: none;     /* IE/Edge (antiguo) */
    user-select: none;         /* estándar */
    -webkit-user-select: none; /* Safari/Chrome */
    -webkit-touch-callout: none; /* iOS: desactiva el menú contextual al mantener pulsado */
  }

  .project.open .project-description {
    color: var(--text-color);
  }

  .project.open .project-content {
    max-height: 1000px;
    color: var(--text-color);
  }

  .project.open .show-down {
    display: none;
  }

  .project.open .show-up {
    display: flex;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    margin-top: 5px;
  }
}

@media (min-width: 1800px) {
  .project-img-container {
    flex: 0 0 70%;
  }

  .project-title {
    font-size: 2.5rem;
  }

  .project-state {
    font-size: 1rem;
  }

  .project-description {
    font-size: 1rem;    
  }

  .project-resume-bar {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {  
  .project-resume-bar i {
    margin: .5rem;
  }
}

@media (max-width: 400px) {  
  .project-resume-bar i {
    margin: .3rem;
  }
}

@media (max-width: 360px) {  
  .project-resume-bar i {
    margin: 0rem;
  }
}