.proyect {
  display: flex;
  align-items: stretch;
  gap: 0;
  margin: 3rem 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
  background-color: #fbfbfb;
}

.proyect-img-container {
  position: relative;
  flex: 0 0 60%;
  overflow: hidden;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.1);
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 3;
}
.carousel-btn.prev { left: .5rem; }
.carousel-btn.next { right: .5rem; }


.proyect-img-container .fade-image {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
}

.proyect-img-container .fade-in {
  animation: fadeIn 1s ease-in-out forwards;
  z-index: 2;
}

.proyect-img-container .fade-out {
  animation: fadeOut 1s ease-in-out forwards;
  z-index: 1;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}



.proyect-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  box-sizing: border-box;
}

.proyect-header {            
  align-items: baseline;
  gap: 1rem;
}

.proyect-title {
  font-size: 2rem;
}

.proyect-state {
  color: var(--secondary-color);
  font-size: 1rem;
}

.proyect-resume-bar {
  font-size: 1.2rem;
  color: var(--text-color);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.proyect-resume-bar i {
  margin: .7rem;
}

.proyect-description {
  margin-top: 2rem;
  color: var(--secondary-color);
  font-size: .97rem;
}

.proyect-content {
  max-height: none;
  overflow: visible;
}

.show-up, .show-down {
  display: none;
}

@media (max-width: 800px) {
  .proyect {
    flex-direction: column;
    align-items: center;
  }

    .proyect-img-container {
    flex: 0 0 auto;    /* que no mantenga el 60% */
    width: 100%;       /* ocupe todo el ancho */
  }

  .proyect-img-container img {
    width: 100%;   /* ocupar el 100% del contenedor */
    height: auto;  /* mantener proporción */
    object-fit: cover; /* opcional si quieres recorte */
  }

  .proyect-img-container {
    aspect-ratio: 16 / 9;
  }

  .proyect-title {
    text-align: center;
  }

  .proyect-state {
    text-align: center;
    font-size: 1.1rem;
  }

  .proyect-description {
    font-size: 1.3rem;    
  }

  .proyect-content {
    max-height: 13rem;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .show-down {
    display: flex;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }

  .proyect.open .proyect-content {
    max-height: 1000px;
    color: var(--text-color);
  }

  .proyect.open .show-down {
    display: none;
  }

  .proyect.open .show-up {
    display: flex;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }
}

@media (min-width: 1800px) {
  .proyect-img-container {
    flex: 0 0 75%;
  }

  .proyect-title {
    font-size: 2.5rem;
  }

  .proyect-state {
    font-size: 1rem;
  }

  .proyect-description {
    font-size: 1rem;    
  }

  .proyect-resume-bar {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
    .proyect-content {
    max-height: 17rem;
  }
}