.proyect-list {
  color: var(--text-color);
  background-color: white;
  position: relative;
  padding-left: 5rem;
}

.proyect-list-h1 {
  font-size: 3vw;
  padding: 3rem 0rem 1.5rem 0rem;
}

.proyect-list section {
  padding: 1.5rem 0rem;
}

.proyect-list::before {
  content: "";
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 2rem;
  width: 15px;
  background-color: var(--main-color);
}