.proyect {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.proyect img {
  flex-shrink: 0;
  width: 63vw;
  height: 63vh;
  object-fit: cover;
  border-radius: 4px;
}

.proyect-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.proyect-header {            
  align-items: baseline;
  gap: 1rem;
}

.proyect-title {
  font-size: 2rem;
}

.proyect-state {
  color: var(--secondary-color);
  font-size: 1rem;
}

.proyect-resume-bar {
  font-size: 1.2rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.proyect-resume-bar i {
  margin: .7rem;
}

.proyect-description {
  margin-top: 2rem;
  color: var(--secondary-color);
  font-size: .97rem;
}


@media (max-width: 800px) {
  .proyect {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .proyect img {
    max-width: 90%;
    width: auto;
    height: auto;
    box-sizing: border-box;
  }

  .proyect-title {
    text-align: center;
  }

  .proyect-state {
    text-align: center;
    font-size: 1.1rem;
  }

  .proyect-description {
    font-size: 1.3rem;    
  }
}