.resume-aboutus {
  background-color: var(--black-color);
  color: white;
  padding: 0rem 3rem;
  pointer-events: none;
}

.resume-aboutus-text {
  width: 50%;
  padding: 0 2rem 2rem 2rem;  
}

.resume-aboutus-title {
  font-size: 2.1rem;
}

.resume-aboutus-paragraph {
  margin: 2rem 0;
}

.resume-aboutus-quote {
  display: flex;
  justify-content: center;
  font-style: italic;
}

@media (max-width: 700px) {
  .resume-aboutus {
    flex-direction: column;
    padding: 0rem 1rem;
  }

  .resume-aboutus-text {
    width: 100%;
    padding: 1rem;
  }
}
