.resume-aboutus {
  background-color: var(--black-color);
  color: white;
  padding: 7rem 0;
  pointer-events: none;
  display: flex;
  justify-content: space-around;
}


.resume-aboutus-text {
  padding: 0 2rem 2rem 2rem;  
}

.resume-aboutus-title {
  font-size: 2.1rem;
}

.resume-aboutus-paragraph {
  margin: 2rem 0;
  max-width: 700px;
}

.resume-aboutus-quote {
  display: flex;
  justify-content: center;
  font-style: italic;
}

.resume-aboutus-stats {
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  padding: 1rem;
}

@media (max-width: 700px) {
  .resume-aboutus {
    flex-direction: column;
    padding: 1rem;
  }

  .resume-aboutus-title {
    font-size: 1.8rem;
    text-align: center;
  }

  .resume-aboutus-text {
    width: 100%;
    padding: 1rem;
    height: auto;
    text-align: center;
  }

  .resume-aboutus-stats {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
}

@media (min-width: 1800px) {
  .resume-aboutus {
    padding: 6.5rem 3%;
  }
  
  .resume-aboutus-title {
    font-size: 2rem;
  }
  
  .resume-aboutus-paragraph {
    margin: 2rem 0;
    max-width: 900px;
  }

  .resume-aboutus-text {
    font-size: 1.3rem;
  }
}
