.section-services {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
}

.visible {
  opacity: 1;
  z-index: 0;
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
  z-index: 1;
}

.fade-out {
  animation: fadeOut 1s ease-in-out forwards;
  z-index: 1;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.services-content {
  position: relative;   
  z-index: 3;           
  display: grid;        
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  gap: 1.5rem;
  padding: 10rem 2rem;
  width: 100%;
  max-width: 83%;
  margin: 0 auto;       
}

@media (max-width: 1400px) {
  .services-content {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
}

@media (max-width: 1080px) {
  .services-content {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
}

@media (max-width: 768px) {
  .services-content {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    max-width: 100%;
  }
}