.sub-footer {
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
  height: 600px;
  color: white;
}

.sub-footer-background {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  background-attachment: scroll;
  z-index: 1;
}

.sub-footer-background::before {
  content: '';
  position: absolute;
  inset: 0;

  background: inherit;
  filter: blur(5px) brightness(20%);
  transform: scale(1.05);
  transform-origin: center;
  /* hereda la imagen del inline style, pero declaramos estas props por seguridad */
  background-image: inherit;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  transform-origin: center;
  -webkit-transform: translate3d(0,0,0) scale(1.06);
  transform: translate3d(0,0,0) scale(1.06);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform, filter;
  pointer-events: none;
  -webkit-mask-image: linear-gradient(#000, #000);
  
  z-index: 0;
}

.sub-footer-background::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35); /* ajustar opacidad a gusto */
  z-index: 1; /* encima del blur, debajo del contenido */
  pointer-events: none;
}

.sub-footer-title,
.sub-footer-text,
.sub-footer-button {
  z-index: 3;
}

.sub-footer-title {
  font-size: 2.5rem;
  text-shadow: 0 2px 4px rgba(0,0,0,.7);
}

.sub-footer-text {
  font-size: 1.1rem;
  max-width: 600px;
  line-height: 1.4;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
  margin: 3rem 0;
  white-space: pre-line;
}

.sub-footer-button {
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  border: solid var(--main-color) 2px;
  background-color: var(--main-color);
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease;
}

.sub-footer-button:hover {
  background-color: var(--black-color);
}

@media (max-width: 450px) {
  .sub-footer-title {
    font-size: 1.8rem;
  }

  .sub-footer-text {
    font-size: .8rem;
  }

  .sub-footer-button {
    font-size: 1rem;
  }
}