.testimonials-list {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: 1rem;
  background-color: var(--main-color);
}

.testimonials-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .testimonials-track {
    width: max-content;
    animation: scroll 20s linear infinite;
  }
  
}