.testimonials {
  margin-top: 3rem; 
}

.testimonials-divider {
  display: flex;
  align-items: center;
}

.testimonials-divider h1 {
  font-size: 2rem;
  color: var(--black-color);
  margin: 0 2rem;
  white-space: nowrap;
} 

.testimonials-divider::before,
.testimonials-divider::after {
  content: '';
  flex: 1;
  height: 4px;
  background-color: var(--black-color);
}

.testimonials-divider::before {
  width: 7%;
  flex: none;
}

@media (max-width: 768px) {
  .testimonials {
    margin-top: 1rem; 
  }
  .testimonials-divider h1 {
    font-size: 1.5rem;
    justify-content: center;
    white-space: normal;
  }

  .testimonials-divider::after,
  .testimonials-divider::before {
    width: 1rem;
  }
}