.whatsapp-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 5;
  display: flex;
  align-items: center;
}

.whatsapp-icon {
  width: 4rem;
  height: 4rem;
  transition: transform 0.3s ease-in-out;
}

.whatsapp-text {
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: .9rem;
  color: black;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  user-select: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.whatsapp-button .whatsapp-icon:hover {
  transform: scale(1.1);
}